<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-Cyborg.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        var data = {{ chartJSON | safe }}
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, data);
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GameNav</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="games">Home &#127968
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/platform">Platform Global Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="games/chart_page2">Best Genre &#128202 </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/publisher">Best Publisher &#128187 </a>
      </li>
    </ul>
  </div>
</nav>
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
    {% block content %}{% endblock %}
</body>
</html>