{% extends 'base.html' %}

{% block content %}
<table style = "width: 100%">
       <tr style="text-align: center">
           <th>Name</th>
           <th>Year</th>
           <th>Publisher</th>
           <th>Genre</th>
           <th>Platform</th>
           <th>naSales</th>
           <th>euSales</th>
           <th>jpSales</th>
           <th>otherSales</th>
           <th>globalSales</th>
       </tr>

       {% for input in cross_platform_game %}
       <tr style = "text-align: center">
           <td>{{input['name']}}</td>
           <td>{{input['year']}}</td>
           <td>{{input['publisher']}}</td>
           <td>{{input['genre']}}</td>
           <td>{{input['platform']}}</td>
           <td>{{input['naSales']}}</td>
           <td>{{input['euSales']}}</td>
           <td>{{input['jpSales']}}</td>
           <td>{{input['otherSales']}}</td>
           <td>{{input['globalSales']}}</td>
       </tr>
       {% endfor %}
</table>


<canvas id="salesPerConsole" width="50%" height="10px"></canvas>
<script>
var ctx = document.getElementById('salesPerConsole');
var salesPerConsole = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
        {% for item in labels %}
         '{{item}}',
        {% endfor %}],
        datasets: [{
            label: 'Global Sales by Console',
            data: [
            {% for item in values %}
            '{{item}}',
            {% endfor %}],
            backgroundColor: dynamicColors,
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgba(" + r + "," + g + "," + b + ", 0.5)";
    }
</script>
{% endblock %}