{% extends 'base.html' %}

{% block content %}
<table style = "width: 100%">
       <tr>
           <th>Name</th>
           <th>Year</th>
           <th>Publisher</th>
           <th>Genre</th>
           <th>Platform</th>
           <th>naSales</th>
           <th>euSales</th>
           <th>jpSales</th>
           <th>otherSales</th>
           <th>globalSales</th>
       </tr>

       {% for input in cross_platform_game %}
       <tr>
           <td>{{input['name']}}</a></td>
           <td>{{input['year']}}</td>
           <td>{{input['publisher']}}</td>
           <td>{{input['genre']}}</td>
           <td>{{input['platform']}}</td>
           <td>naSales</td>
           <td>euSales</td>
           <td>jpSales</td>
           <td>otherSales</td>
           <td>globalSales</td>
       </tr>
       {% endfor %}
</table>
{% endif %}

{% endblock %}