{% extends 'base.html' %}

{% block content %}
        <div style="color: white">
            <p>Name: {{ found_game.name }}</p>
        </div>
        <div style="color: white">
            <p>Rank: {{ found_game.rank }}</p>
        </div>
        <div style="color: white">
            <p>Platform: {{ found_game.platform }}</p>
        </div>
        <div style="color: white">
            <p>Year: {{ found_game.year }}</p>
        </div>
        <div style="color: white">
            <p>Publisher: {{ found_game.publisher }}</p>
        </div>
        <div style="color: white">
            <p>Global Sales: {{ found_game.globalSales }}</p>
        </div>

<strong><a href="/game/{{ found_game.name }}">Global Console Sales</a></strong>
{% endblock %}