<head>
    <style>
        body {
           background-image: url("static/images/Video-Games.jpg");
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: 75% 75%;
           background-position: center;
           }
    </style>
</head>
{% extends 'base.html' %}

{% block title %}
Welcome to Our Search
{% endblock %}

{% block header %}
<h2 style="text-align: center"> Search Games &#127918 </h2>
{% endblock %}

{% block content %}

 <form method="post">
    <label for="title" style="color: white">Enter a Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Submit">
  </form>
{% if title != null %}
<table style = "width: 100%">
       <tr>
           <th>Name</th>
           <th>Year</th>
           <th>Publisher</th>
           <th>Genre</th>
           <th>Platform</th>
       </tr>

       {% for input in title %}
       <tr>
           <td><a href="/gameID/{{input['_id']}}">{{input['name']}}</a></td>
           <td>{{input['year']}}</td>
           <td>{{input['publisher']}}</td>
           <td>{{input['genre']}}</td>
           <td>{{input['platform']}}</td>
       </tr>
       {% endfor %}
</table>
{% endif %}

{% endblock %}
